@tailwind base;
@tailwind components;
@tailwind utilities;


.fill-FF4500{
    fill: #FF4500 !important;
}
.clr-FF4500{
    
    background-color: #FF4500 !important;
}
.custom-textSideNav{
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    color: #576F76 !important;
}
.customInp{
    width: 37rem !important;
    border-radius: .9rem !important;
    background-color: #eaedef !important;
}
.slick-prev, .slick-next{
    background-color: black !important;
    border-radius: 50%;
}

  
 
  .card-main-control {
    width: 95%;
  }