@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
  
}

.fill-FF4500 {
  fill: #ff4500 !important;
}
.clr-FF4500 {
  background-color: #ff4500 !important;
}
.custom-textSideNav {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  color: #576f76 !important;
}
.custom-textSideNavDark{
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  color: #fff !important;
}
.customInp {
  width: 37rem !important;
  /* border-radius: 0.9rem !important; */
  background-color: #eaedef !important;
}
.dark-customInp {
  width: 37rem !important;
  /* border-radius: 0.9rem !important; */
  background-color: #1a282d !important;
}
.clr-dark-head{
  background-color: #1a282d !important;}
.slick-prev,
.slick-next {
  background-color: black !important;
  border-radius: 50%;
}

.card-main-control {
  width: 95%;
}
.triangle-border {
  position: relative;
  border: 2px solid rgb(138, 138, 233);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

svg {
  cursor: pointer;
}
.custom-scrollbar::-webkit-scrollbar {
  visibility: hidden !important;
}

/* Show the scrollbar thumb when hovering over the scrollbar */
.custom-scrollbar::-webkit-scrollbar:hover {
  visibility: visible;
}

.custom_googleLogo {
  height: 18px;
  margin-right: 8px;
  min-width: 18px;
  width: 18px;
}
.z-index-custom {
  z-index: 100000000000000000 !important;
}
.right-minus {
  right: -1rem !important;
}
.icon {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}

._1nxEQl5D2Bx2jxDILRHemb {
  transition: margin-top 0.3s ease;
  padding-top: 48px;
}
@media (max-width: 1550px) {
  .premium-header {
    background-position: 30% bottom;
  }
}

.premium-header {
  box-sizing: border-box;
  padding-top: 100px;
  min-height: 544px;
  background-repeat: no-repeat;
  background-color: #0c3744;
  background-size: auto 100%;
  background-position: 100% 100%;
  color: #fff;
}
._1H1BEIdB-vMmFIhl__GcP- {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0 40px;
}
._3xymUbUvqvfnMM2w1bDVpo {
  color: #1c1c1c;
  text-align: center;
  margin-bottom: 28px;
  font-family: "Noto Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
._21g0kYfKRCqWnHX6Hs4EVJ {
  text-align: center;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
}

._2F-2JuCnBDGUkhnXOrig5y {
  margin-bottom: 8px;
}
._2ZtkpgcwK6dFNvjfEHZZT4,
.LpDOx_HYwL2maHntPrY3k {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.LpDOx_HYwL2maHntPrY3k {
  flex-flow: row wrap;
  gap: 16px;
  margin-bottom: 16px;
}
._2ZtkpgcwK6dFNvjfEHZZT4 {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: none;
  flex: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  width: 180px;
  min-height: 128px;
  background: #f6f7f8;
  border-radius: 16px;
  padding: 8px 8px 12px;
}

._2ZtkpgcwK6dFNvjfEHZZT4,
.LpDOx_HYwL2maHntPrY3k {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
._3WUWb7Sw86xRHJJhjUgdZ9 {
  color: #1c1c1c;
  position: relative;
}
._4UcAT87VyI5VbP6S7bhhK {
  width: 48px;
  height: 48px;
  margin: 0 auto 8px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
._7IEgYd0otS-qkC7jLZMRc {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
._1Lmps3yUL3wlUeYBq8e1NW {
  color: #878a8c;
  line-height: 16px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
._2ZtkpgcwK6dFNvjfEHZZT4 {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: none;
  flex: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  width: 180px;
  min-height: 128px;
  background: #f6f7f8;
  border-radius: 16px;
  padding: 8px 8px 12px;
}

._2ZtkpgcwK6dFNvjfEHZZT4,
.LpDOx_HYwL2maHntPrY3k {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
._3WUWb7Sw86xRHJJhjUgdZ9 {
  color: #1c1c1c;
  position: relative;
}
._2xYObLxCbdZPVZMoClN8r0 {
  position: absolute;
  top: 12px;
  left: 12px;
}

._2u3fkh0zbVoixCjyXrW0_e {
  width: 37px;
  height: 20px;
  border-radius: 4px;
  background: #ff4500;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.h1_img {
  margin-top: 0;
  margin-bottom: 12px;
}
.img-landing {
  max-width: 558px;
  height: auto;
}
.sideContent_header {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}
.help_support {
  max-width: 560px;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.btn-main-premium {
  text-align: left;
}
.btn-main-prem .common-btn {
  border-color: #fff;
  color: #fff;
}
.common-btn.common-btn {
  display: inline-block;
  min-width: 256px;
  max-width: 360px;
  height: 42px;
  text-transform: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  border-color: #ff4500;
  color: #ff4500;
}
.cmn-btn-3 {
  position: relative;
  border: 1px solid #0079d3;
  color: #0079d3;
  fill: #0079d3;
}
.btn--cmn-2 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
}
.cmn-btn-2 {
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  width: auto;
}
.btn-main-premium {
  text-align: left;
}
.btn-main-prem .common-btn {
  border-color: #fff;
  color: #fff;
}
.common-btn.common-btn {
  display: inline-block;
  min-width: 256px;
  max-width: 360px;
  height: 42px;
  text-transform: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  border-color: #ff4500;
  color: #ff4500;
}
.cmn-btn-3 {
  position: relative;
  border: 1px solid #0079d3;
  color: #0079d3;
  fill: #0079d3;
}
.btn--cmn-2 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
}

.cmn-btn-2 {
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: auto;
}
.cmn-btn-3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: #0079d3;
  opacity: 0;
}
.common-btn + .btn-dlr.btn-dlr {
  margin-left: 10px;
}
._2WCbLB03wJFwv7fN2Dk2qt,
.btn-dlr.btn-dlr {
  display: inline-block;
  min-width: 256px;
  max-width: 360px;
  height: 42px;
  text-transform: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
._10BQ7pjWbeYP63SAPNS8Ts.q_unSaY23rpdd3lDvGZ- {
  --buttonText: #fff;
  position: relative;
  background-color: #ff4500;
  border: none;
  color: var(--buttonText);
  fill: var(--buttonText);
}
._10BQ7pjWbeYP63SAPNS8Ts {
  position: relative;
  background-color: #0079d3;
  border: none;
  color: #ffffff;
  fill: #ffffff;
}
.btn--cmn-2 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
}
.cmn-btn-2 {
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: auto;
}
._10BQ7pjWbeYP63SAPNS8Ts.q_unSaY23rpdd3lDvGZ-:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: var(--buttonText);
  opacity: 0;
}
_2WCbLB03wJFwv7fN2Dk2qt,
.btn-dlr.btn-dlr {
  display: inline-block;
  min-width: 256px;
  max-width: 360px;
  height: 42px;
  text-transform: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
._10BQ7pjWbeYP63SAPNS8Ts.q_unSaY23rpdd3lDvGZ- {
  --buttonText: #fff;
  position: relative;
  background-color: #ff4500;
  border: none;
  color: var(--buttonText);
  fill: var(--buttonText);
}
._10BQ7pjWbeYP63SAPNS8Ts {
  position: relative;
  background-color: #0079d3;
  border: none;
  color: #ffffff;
  fill: #ffffff;
}
.btn--cmn-2 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
}
.cmn-btn-2 {
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: auto;
}
._1AJGAPTnSSY4HwOKw5300M {
  display: inline-block;
  vertical-align: middle;
  color: #ff4500;
  padding: 4px 8px;
  background: #fff;
  border-radius: 999px;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.btn-main-prem .mNwLF2M-GWWkKuxa83xBQ {
  margin-top: 16px;
  color: #d3d6da;
  text-align: left;
}

.mNwLF2M-GWWkKuxa83xBQ {
  color: #7c7c7c;
  margin-top: 12px;
  text-align: center;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
._1H1BEIdB-vMmFIhl__GcP- {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0 40px;
}
._3xymUbUvqvfnMM2w1bDVpo {
  color: #1c1c1c;
  text-align: center;
  margin-bottom: 28px;
  font-family: "Noto Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
._3GTrbRyT1wOPfZZhY4r1Qg,
._2Of3GWhg1qZ5DUuQVMX80C {
  font-family: "Noto Sans", Arial, sans-serif;
}

._2Of3GWhg1qZ5DUuQVMX80C {
  color: #d3d6da;
  margin-top: 12px;
  margin-bottom: 24px;
  width: 522px;
  text-align: center;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
._3GTrbRyT1wOPfZZhY4r1Qg {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  color: #1c1c1c;
  margin: 12px auto 0;
}
._3GTrbRyT1wOPfZZhY4r1Qg,
._2Of3GWhg1qZ5DUuQVMX80C {
  font-family: "" Noto Sans "", Arial, sans-serif;
}
._3zbhtNO0bdck0oYbYRhjMC {
  position: relative;
  border: 1px solid transparent;
  color: #0079d3;
  fill: #0079d3;
}
.btn--cmn-2 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
}
.cmn-btn-2 {
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: auto;
}

._27BspvKVY7nh2AfDk1xv0S._27BspvKVY7nh2AfDk1xv0S {
  background: #0c3744;
  background-color: #0c3744;
}
._3BwBOzWryMj3__GUbbUsfT {
  padding: 48px 20px 32px;
  background: #142736;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
._27BspvKVY7nh2AfDk1xv0S._27BspvKVY7nh2AfDk1xv0S {
  background: #0c3744;
  background-color: #0c3744;
}
._30YqpAvDOv6bhMsdX4RBmh {
  box-sizing: border-box;
  max-width: 770px;
  margin: 0 auto;
}
._3k49tjCFDJWYNMxa7F_Vcz {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 44px;
}
._37R5bPLs9vyWkel2akHN9v {
  margin: 0;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.5);
}
.Kc3eh30cKiJsqGyYdTomf {
  margin: 0;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}
.Qeqi5He8ogV_wEJHq4JuY {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
._2faDmx1pVndPEOOWcvmbzy {
  padding: 3px 20px 3px 0;
}
._2__-I0A5TrnEaHBIKzBzWG {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
._3sfkqPfhkeoURTGRzBv1TP {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
._38avtjw3edhexhYWmJx1Rw {
  text-transform: capitalize;
  white-space: nowrap;
  text-decoration: underline;
  color: hsla(0, 0%, 100%, 0.5);
}


.text-32 {
  font-size: 2rem;
  line-height: 2.25rem;
}
.text-18{
  font-size: 1.125rem;
    line-height: 1.5rem;
}
.text-12 {
  font-size: .75rem;
  line-height: 1rem;
}

.grad-cover{
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 111.72%), #0045AC !important;
}

.responsiveWidth{
  width: 65rem !important;
}

.customInp:focus{    outline: #0c3744 !important;

}
@media (max-width:1281px) {
  
  
  .responsiveWidth{
    width: 52rem !important;
  }
  
}
@media (max-width:1025px) {
  .responsiveWidth{
    width: 55rem !important;
  }
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media (min-width: 640px) { 
  .responsiveCommentWidth {
    width: 13rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) { 
  .responsiveCommentWidth {
    width: 25rem;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media (min-width: 1024px) { 
  .responsiveCommentWidth {
    width: 27rem;
  }
}

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media (min-width: 1380px) { 
  .responsiveCommentWidth {
    width: 32rem;
  }
}
